body,
html {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
canvas {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  position: absolute;
  background-color: hsl(240, 57%, 9%);
}
.map {
  position: absolute;
  z-index: 3;
  top: calc(100% - 15rem);
  left: calc(100% - 15rem);
  width: 15rem;
  height: 15rem;
  background-color: #000b;
  border: 1px solid #fff4;
  border-radius: 1rem;
}
